body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}
.hidden{
    display: none;
}

header{
    background-color: rgb(22, 162, 187);
    padding: 20px;
    width: 100%;
    text-align: center;
}

h1{
    margin: 0;
}

input[type='text']{
    padding: 10px;
    font-size: 16px;
    border-radius: 10px;

}

button{
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 10px;

}

h4{
    text-align: center;

}
savedcitybutton {
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 50%;
    align-items: center;
    margin-bottom: 5px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;


}
#recentCitiesList {
    /* display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid #ccc; */
    /* display: block;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #333;
    font-size: 16px;
    text-align: center;
    width: 100%; */
    cursor: pointer;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weather-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #a4c64d;}

#weatherInfo{
    margin-top: 20px;
}

#forecastInfo{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}


li {
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex: 50%;
    align-items: center;
    margin-bottom: 20px;
    margin-left: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #d08181;

}
@media screen and (max-width: 600px) {
    .forecast { 
        flex-direction: column;
}
}